@import "../../Styles/style.scss";

.score-container {
    background-color: $gray;
    min-width: 200px;
    padding: 1rem;
    border-radius: 10px;
    height: 240px;
}

.daily-title {
    font-size: 15px;
    font-weight: 500;
}

.daily-legend-container {
    display: flex;
    color: $text-gray;
    gap: 3rem;

    .daily-legend-item {
        display: flex;
        gap: 5px;
        align-items: center;

        .dot {
            width: 10px;
            height: 10px;
            border-radius: 50%;

            &-black {
                background-color: $black;
            }

            &-red {
                background-color: $red;
            }

        }
    }
}

.daily-chart-header {
    display: flex;
    justify-content: space-between;
}

.score-number {
    color: #282D30;
    font-weight: 700;
    font-size: 18px;
}

.score-txt {
    color: #74798C;
    font-size: 12px;
}

.score-label{
    position: relative;
    top: -44%;
    left: 40%;
    text-align: center;
    width: 50px;
}