@import "../../../src/Styles/style.scss";

.page {
    font-family: 'Roboto,sans-serif';
    margin-left: 20px;
    width: 100%;
}

.title {
    font-size: 3rem;
    font-weight: 500;

    .name {
        color: $primary-color;
    }
}

.title-txt {
    margin-bottom: 5px;
}

.content {
    display: flex;
    width: 100%;
    align-items: center;
    gap: 2rem;
}

.left-side-content {
    display: flex;
    width:60vw;
    flex-direction: column;
}

.bottom-left-content {
    display: flex;
    width: 100%;
    gap:10px;
}

.da-container{
    width:100%;
}

.bl-container{
    flex: 30%;
    height: 100px;
    
}