@import "../../Styles/style.scss";


.averagesession-container{
    background-color: #FF0000;
    height: 240px;
    padding: 1rem;
    border-radius: 10px;
}


.averagesession-title{
    color: #FFFFFF;
    font-size: 15px;
    font-weight: 500;
    opacity: 0.8;
}