@import "../../Styles/style.scss";


.averagesession-container{
    background-color: #FF0000;
    width: 258px;
    height: 263px;
    padding: 2rem;
    border-radius: 10px;
}


.averagesession-title{
    color: #FFFFFF;
    font-size: 15px;
    font-weight: 500;
}