@import "../../Styles/style.scss";

.a-s-tooltip-container {
    background-color: #FFFFFF;
    width: 39px;
    height: 25px;
    display: flex;
    padding: 10px;
}

.a-s-payload {
    color: #000000;
    text-align: center;
}